name: ci

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create MariaDB image
        run: docker build -t ghcr.io/${{ github.actor }}/mariadb -f docker/Dockerfile.mariadb .
      - name: Push MariaDB image
        run: docker push ghcr.io/${{ github.actor }}/mariadb:${{ github.sha }}
