name: ci

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create MariaDB image
        run: docker build -t ghcr.io/${{ github.actor }}/mariadb -f docker/Dockerfile.mariadb .
      - name: Push MariaDB image
        run: docker push ghcr.io/${{ github.actor }}/mariadb:latest
      - name: Create Nginx image
        run: docker build -t ghcr.io/${{ github.actor }}/nginx -f docker/Dockerfile.nginx .
      - name: Push Nginx image
        run: docker push ghcr.io/${{ github.actor }}/nginx:latest
      - name: Create Next.js image
        run: docker build -t ghcr.io/${{ github.actor }}/nextjs-app -f docker/Dockerfile.nextjs .
      - name: Push Next.js image
        run: docker push ghcr.io/${{ github.actor }}/nextjs-app:latest
